body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

#reader {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
  