/* body {
  margin: 0;
}

#reader {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.book-wrapper {
  width: 90%;
  height: 100%;
  margin: 20px auto;
}
      
#reader {
  z-index: 0;
  text-align: center;
  width: 100%;
  height: 100vh;
}
  