 body {
  margin: 0;
  overflow: hidden !important;
	display: flex;
	justify-content: center;
  align-items: center;
  background-color: red;
}
  
#viewer.spreads {
  width: 100vw;
  height: 100vh;
  box-shadow: 0 0 4px #ccc;
  padding: 0;
  position: relative;
  /* background: white url('ajax-loader.gif') center center no-repeat; */
  background: green;
}

#viewer.spreads .epub-view > iframe {
    background: blue;
}

svg {
  display: block;
  z-index: -1;
}