/* body {
  margin: 0;
  position: absolute;
  height: 100%;
  width: 100%;
}

#reader {
  height: 100vh;
  width: 100vw;
  overflow: hidden !important;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.book-wrapper {
  width: 100%;
  height: 100%;
}
      
#reader {
  z-index: 0;
  text-align: center;

  div {
       margin: 0 auto;
       height: 96%;
  }
}

  