body {
    margin: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    min-height: 800px;
  }
  
#reader.spreads {
    width: 900px;
    height: 600px;
    box-shadow: 0 0 4px #ccc;
    border-radius: 5px;
    padding: 0;
    position: relative;
    margin: 10px auto;
    background: white url('ajax-loader.gif') center center no-repeat;
    top: calc(50vh - 400px);
  }
  
  #reader.spreads .epub-view > iframe {
      background: white;
  }
  
  #reader.scrolled {
    overflow: hidden;
    width: 800px;
    margin: 0 auto;
    position: relative;
    background: url('ajax-loader.gif') center center no-repeat;
    box-shadow: 0 0 4px #ccc;
    padding: 20px;
    background: white;
  }
  
  #reader.scrolled .epub-view > iframe {
      background: white;
  }
  
  
  @media (min-width: 1000px) {
    #reader.spreads:after {
      position: absolute;
      width: 1px;
      border-right: 1px #000 solid;
      height: 90%;
      z-index: 1;
      left: 50%;
      margin-left: -1px;
      top: 5%;
      opacity: .15;
      box-shadow: -2px 0 15px rgba(0, 0, 0, 1);
      content:  "";
    }
  
    #reader.spreads.single:after {
      display: none;
    }

  }